<html>
    <head></head>
    <link href ="assets/style.css" type="text/css"
        rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <body>
        <div ng-app="testApp" ng-controller="testCtrl">
        {{ firstName + " " + lastName }}
        </div>
        <script src="/assets/js/testApp.js"></script>
        <script src="/assets/js/testCtrl.js"></script>
    </body>
</html>
